body {

 color: black;

    background-color: rgba(240, 234, 234, 0.3)
    ;

  }
.jumbotron {
    background-image: url("photo2.jpg");
    background-size: cover;
    
    height: 100%;
    text-align: center;
    color:white;
    /* text-decoration: underline; */
    text-shadow: 2px 2px black;
};